---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

body {
  background-color: #f7f9fb;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}

code {
  font-size: 14px;
}

h1 {
  border-bottom: 3px solid #333;
  font-size: 28px;
}

h2 {
  font-size: 1.5em;
}

h1.title {
  border-bottom: 0px;
  font-size: 32px;
  margin: 0 0 0px;
}
